{
 email {$TLS_EMAIL}
}
{$SHOP_DOMAIN} {
 encode zstd gzip
 @wordpress path /wp-json/* /wp-admin* /wp-login.php /wp-content/* /wp-includes/* /wp-cron.php /xmlrpc.php /wp-comments-post.php
 handle @wordpress { reverse_proxy wordpress:80 }
 handle { reverse_proxy frontend:80 }
}
